*{
	font-family: Verdana;
}


p.coders{
	position: relative;
	bottom: 25px;
	left:10px;
	color: white;

}

p.menu{
	font-weight: bold;
/*	margin: 8px 0px;*/

}


hr{
	margin:12px;
}

.bCentro{ /*NO FUNCIONA*/
	margin-left: 100px;
	margin-right: auto;
}
	
hr.b{
	margin-left: 300px;
	width: 200px;
}

a.coder{
	margin-left: 35px;
}

a.coder2{
	margin-left: 65px;
	
	
}






/*PAGINA DETALLE*/
img.detalle{
	border-radius: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 22%


}

h2.detalle{
	margin: 10px;

}


p.detalle{
	margin: 20px;
	padding: 20px;

}


img.portafolio{
	display: inline-block;
	width: 32.5%;
	padding: 15px;
}

div.container.detalle{
	border: 2px solid gray;
	padding: 10px 70px 10px 70px;
	margin: 30px;
	width: 800px;
}

h3.detalle{
	display: block;
	margin: 10px;
}

div.habilidades{
	background-color: gray;
	padding: 5px;
	margin: 5px 15px;
	color:white;
}

